In [2]:
import json

In [18]:
with open('D:\Python Scripts/JSON_Example.json') as f:
  data = json.load(f)

In [19]:
data

[{'userId': 1, 'id': 1, 'title': 'Testando JSON', 'completed': False},
 {'userId': 2,
  'id': 3,
  'title': 'itens JSON separando em colunas',
  'completed': True},
 {'userId': 5,
  'id': 2,
  'title': 'Observe que este e um exemplo simples',
  'completed': False},
 {'userId': 3,
  'id': 5,
  'title': 'Agora tente aprimorar por conta, adicionando heranÃ§a',
  'completed': True}]

In [20]:
import pandas as pd
df = pd.DataFrame(columns=["UserID", "ID", "Title", "Competed"])

In [21]:
for i in range (0, len(data)):
    currentItem = (data[i])
    df.loc[i] = [data[i]["userId"], data[i]["id"], data[i]["title"], data[i]["completed"]]

In [22]:
df

  UserID ID                                              Title Competed
0      1  1                                      Testando JSON    False
1      2  3                    itens JSON separando em colunas     True
2      5  2              Observe que este e um exemplo simples    False
3      3  5  Agora tente aprimorar por conta, adicionando h...     True